@import '../colorScheme';

footer {
	display: block;
	border-top: 6px solid gray;
	background-color: $powderGreen;
	position: relative;
  clear: both;
  text-align: center;

  parkpal-logo {
  	display: inline-block;
    margin-top: 20%;
    bottom: 0;
  }

  .container {
  		color: gray;
	}
}


