footer {
	display: block;
	border-top: 6px double gray;
	bottom: 0;
	width: 100%;
	background-color: #FE8402;
	position: relative;
  margin-top: -180px;
  height: 180px;
  clear: both;

	li {
		color: gray;
	}
}


