@import '../colorScheme';

footer {
	display: block;
	border-top: 6px solid gray;
	background-color: $powderGreen;
	position: relative;
  clear: both;
  text-align: center;
  min-height: 175px;

  parkpal-logo {
  	display: inline-block;
    margin-top: 20%;
    bottom: 0;
  }

  .container {
  		color: gray;
	}

  li {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    };
    &:visited {
      color: $orange;
    };
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }
}


