<!--facility.html-->
<div class="row">
  <h2>{{ facility.name }}</h2>
  <div class="col-lg-2">
    <img src="http://placehold.it/150x150">
  </div>
  <div class="col-lg-8">
    <div class="row">
    {{ facility.description }}
    </div>
    <div class="row">
      Average user rating:
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>

    </div>
  </div>
  <div class="col-lg-2">

    <button ng-hide="inSlots" class="btn btn-default" ui-sref="park.facilitySlots({facilityId: facility.id})">View Schedule</button>

    <div ng-show="inSlots">
        <input type="text" class="form-control"
               uib-datepicker-popup="mediumDate"
               is-open="valuationDatePickerIsOpen"
               ng-click="valuationDatePickerOpen()"
               ng-model="valuationDate"
               placeholder="Click to choose a date" />
        <button ng-click="findSlots()" class="btn btn-primary">Find Slots</button>
    </div>

  </div>
</div>

