<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <parkpal-logo></parkpal-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-show="user">
                <a ui-sref-active="active" ui-sref="user({id: user.id})">Profile</a>
            </li>
        </ul>
        <div class="navbar-buttons">
            <button ng-show="!user" ui-sref="login" class="btn btn-success">Login</button>
            <button ng-show="!user" ui-sref="signup" class="btn btn-primary">Sign up</button>
        </div>
        <div ng-show="user" class="welcome">
            <a ui-sref="user.cart({id: user.id})">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
                </span>
            </a>
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
