#home {
  background-image: url("/landingBackground.jpg");
  background-color: #cccccc;
  min-height: 500px;
  padding: 0;
  margin: 0;

  .row {
  	padding-top: 100px;
  }

  h1 {
  	color: #00FF00;
  }

  ul {
  	padding: 0;
  }

  li {
  	color: #00FF00;
  	list-style: none;
  	padding: 0;
  }
}


