@import '../colorScheme';

#home {
  background-image: url("/landingBackground.jpg");
  background-color: #cccccc;
  min-height: 550px;
  padding: 0;
  margin: 0;

  .row {
  	padding-top: 100px;
  }

  h1 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 5.5em;
  	color: $orange;
  }

  ul {
  	padding: 0;
  }

  li {
  	color: $orange;
    font-size: 1.5em;
  	list-style: none;
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    };
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .park-list-dropdown {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;

    li:nth-child(even) {
      background-color: $dirtyBlue;
    }

    li:nth-child(odd) {
      background-color: $lightBlue;
    }

  }
}


