@import '../colorScheme';

navbar {

  display: block;
  background: $powderGreen;
  border-bottom: 1px solid $powderGreen;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 100%;
    max-width: 1340px;
    padding-top: 20px;
  }

  a {
    color: $orange;
    font-size: 20px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    };
    &:visited {
      color: $orange;
    };
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .navbar-buttons {
    padding-top: 10px;
    float: right;
    height:1px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
