<div>
  <div>
    <h2>Slots for: {{ formattedDate }}</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Price</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="slot in slots">
          <td>{{ slot.startTimeConverted }}</td>
          <td>{{ slot.endTimeConverted }} </td>
          <td>${{ slot.price }}</td>
          <td><div ng-show="slot.booked">BOOKED</div>
              <div ng-hide="slot.booked">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ng-click="addToCart(slot.id)">
                </span>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
