* {
  box-sizing: border-box;
}

#wrap {
  min-height: 100%;
}

html, body {
  background: #fdfdfd;
  height: 100%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  overflow: auto;
  padding-top: 0px;
  margin: 0 auto;
  min-height: 550px;

}

@import 'footer/main';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';


